html, body  {
    font-size: 20px;
    background-color:  #2CA565;
    border: 15px solid #2C2FA5;
}
.header {
    text-align: center;
}
.header a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {    
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-top;
    line-height: 1.4em;
    word-spacing: .2em;
}
h2 {
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; 
}
p {
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 400;
    text-align: right;
    word-spacing: .4em;
    position: relative;
}
#contact {
    display: block;
    grid-template-columns: auto;
    margin:auto
}
.figure {
    font-family: 'Spectral', serif;
    font-weight: 500;
    background-color: #2ca5a1;
    text-align: center;
    vertical-align: center;
    text-transform: inherit;
    text-decoration: none;
}
address  {
    font-family: 'Spectral', serif;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
    word-spacing: .5em;
    text-decoration: none;
}
footer {
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}