html, body  {
    font-size: 20px;
    background-color:  #2CA565;
}
#Header {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}
.Item {
    display:grid;
    margin: auto;
    padding: 5px;
}
h1 {    
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4em;
    word-spacing: .2em;
}
p {
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 300;
    text-align: right;
    word-spacing: .4em;
    border-style: solid;
    border-color: #2C2FA5;
    padding: 5px;
}
#Pets {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}
.Kids {
    display: block;
    margin: auto;
    border-style: solid;
    border-color: #2C2FA5;
    padding: 5px;
    border-radius: 15px;
}
.Kids img {
        width: 300;
        height: 200px;
}
#figure  {
    display: block;
    grid-template-columns: auto;
    margin:auto
}
.figure-list {
    font-family: 'Spectral', serif;
    font-weight: 500;
    background-color: #2ca5a1;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    text-transform: inherit;
}
address  {
    font-family: 'Spectral', serif;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
    word-spacing: .5em;
    text-decoration: none;
}
address img {
    display: center;
    margin: auto;
}
footer {
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
